// importing tailwind components
@tailwind base;
@tailwind components;
@tailwind utilities;

// importing local fonts
@font-face {
font-family: "avenir";
src: url("/fonts/AvenirNextLTPro-It.otf");
}

body.modal-open {
    overflow: hidden;
}

// custom CSS

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.logoWrapper {
    width: 200px;
    padding: 20px;
}

.headerMenuWrapper ul {
    display: flex;

    .menu-item {
        padding: 0.5rem;
    }
}

.socialMediaIcons a {
    padding: 0.5rem;
}

// sidebar items background colors

.acquisitionBackgroundItem-0 {
    background-color: #FFB3B3;
}

.acquisitionBackgroundItem-1 {
    background-color: #BBF3DD;
}

.acquisitionBackgroundItem-2 {
    background-color: #C2C8FF;
}

.acquisitionBackgroundItem-3 {
    background-color: #F7B7EC;
}

.acquisitionBackgroundItem-4 {
    background-color: #FFF9A3;
}

.acquisitionBackgroundItem-5 {
    background-color: #bef264;
}

.acquisitionBackgroundItem-6 {
    background-color: #5eead4;
}

.acquisitionBackgroundItem-7 {
    background-color: #93c5fd;
}

.acquisitionBackgroundItem-8 {
    background-color: #c4b5fd;
}

.acquisitionBackgroundItem-9 {
    background-color: #f9a8d4;
}

.acquisitionBackgroundItem-10 {
    background-color: #0ea5e9;
}

.acquisitionBackgroundItem-11 {
    background-color: #6366f1;
}

.acquisitionBackgroundItem-12 {
    background-color: #a855f7;
}

.acquisitionBackgroundItem-13 {
    background-color: #ec4899;
}

.acquisitionBackgroundItem-14 {
    background-color: #064e3b;
}

.acquisitionBackgroundItem-15 {
    background-color: #713f12;
}

.acquisitionBackgroundItem-16 {
    background-color: #dc2626;
}

.acquisitionBackgroundItem-17 {
    background-color: #57534e;
}

.acquisitionBackgroundItem-18 {
    background-color: #fde047;
}

.acquisitionBackgroundItem-19 {
    background-color: #67e8f9;
}

.acquisitionBackgroundItem-20 {
    background-color: #f0abfc;
}

.conversionBackgroundItem-0 {
    background-color: #BDF1FF;
}

.conversionBackgroundItem-1 {
    background-color: #FFB3B3;
}

.conversionBackgroundItem-2 {
    background-color: #f9a8d4;
}

.conversionBackgroundItem-3 {
    background-color: #9333ea;
}

.conversionBackgroundItem-4 {
    background-color: #818cf8;
}

.conversionBackgroundItem-5 {
    background-color: #2dd4bf;
}

.moreBackgroundItem-0 {
    background-color: #C2C8FF;
}

.moreBackgroundItem-1 {
    background-color: #FFFAB1;
}

.moreBackgroundItem-2 {
    background-color: #F7B7EC;
}


.moreBackgroundItem-3 {
    background-color: #BBF3DD;
}


.moreBackgroundItem-4 {
    background-color: #818cf8;
}


.moreBackgroundItem-5 {
    background-color: #f9a8d4;
}

// Blog Post Taxonomy Items

.item-ads {
    background-color: #FFB3B3;
}

.item-content {
    background-color: #BBF3DD;
}

.item-sales {
    background-color: #C2C8FF;
}

.item-seo {
    background-color: #F7B7EC;
}

.item-social {
    background-color: #FFF9A3;
}

.item-copywriting {
    background-color: #BDF1FF;
}

.item-landing-page {
    background-color: #FFB3B3;
}

.item-brand {
    background-color: #C2C8FF;
}

.item-creative {
    background-color: #FFFAB1;
}

.item-referral {
    background-color: #F7B7EC;
}

.item-retention {
    background-color: #BBF3DD;
}

.blogCard_taxonomy__item {
    color: #030212;
}

.blogPostCard {
    height: 200px;
    background-size: cover;
}

.blogPostCard_title {
    font-size: 21px;
    margin-left: 20px;
    padding-top: 20px;
}

// Styling for modal
.modal {
    position: fixed;
    z-index: 1060;
    display: none;
    width: 800px;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    height: 80%;
    background-color: white;
}

.modal.show .modal-dialog {
    transform: none;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
    }
}


.modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.3rem;
    outline: 0;
    height: 80%;
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}

.modal-header .btn-close {
    padding: 0.5rem 0.5rem;
    margin: -0.5rem -0.5rem -0.5rem auto;
}

.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: #000;
    border: 0;
    border-radius: 0.25rem;
    opacity: .5;
}

.view-post {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

.leftSidebar {
    position: sticky;
    top: 1px;
}

.modalPost_thumbnail__blured {
    width: 100%;
    height: 250px;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(5px);  position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    background-size: cover;
}

.modalPost_thumbnail {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 450px;
}

.blogPostCard_title__modal {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 40%;
    width: 450px;
}

.modalPost_thumbnail__wrapper {
    height: 250px;
}

.grid-item {
    width: 32%;
    padding: 5px 0;

    img {
        border-radius: 2rem;
        border: 3px solid #f7f7f7;
    }
}

.imageContent_layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(17,24,39, 0.8);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    border: 3px solid #f7f7f7;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }

  .imageContent:hover .imageContent_layer {
    visibility: visible;
    opacity: 1;
  }
  
  .imageContent_layer p {
    transition: .2s;
    transform: translateY(1em);
  }
  
  .img__wrap:hover .imageContent_layer p {
    transform: translateY(0);
  }

  .imageContent_link {
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: white;
    padding: 1rem 1rem 0.7rem 0.7rem;
    border-top-right-radius: 120px;
    z-index: 3;
    visibility: hidden;
  }

  .imageContent:hover .imageContent_link {
    visibility: visible;
    opacity: 1;
    bottom: 2%;
    left: 2%;
  }

  .modal_contentArea__wrapper p {
    padding: 10px 0;
  }

  .modal_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .modal_redirect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .modal_wrapper__hide {
    display: none !important;
  }

  // single modal

  .singleModal {
    display: none;
    position:fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    background: #fff;
    width: 800px;
    height: 80%;
    box-sizing:border-box;
    box-shadow:0 0 20px rgba(0,0,0,.2);
    overflow-y: auto;
    z-index: 10;
    
    &.visible {
      display: block;
    }
  }

  .modalRedirect {
    position:fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 100%;
    height: 100%;
    box-sizing:border-box;
    overflow-y: auto;
    z-index: 5;
  }

  .newsletterImage_wrapper {
    img {
        border-radius: 50%;
        width: 100px;
        height: 100px;

    }
  }